
<h4>Showing all Posts</h4>

<% @post.each do |post| %>
        <div class='row'>
                <div class='span8 well'>
                        <% post.categories.each do |category| %>
                              <div class = 'badge'>
                                <%=  "#{category.name}" %>
                            </div>
                        <% end %>

                        <p class = 'pull-right'>[<%= link_to 'edit this post', edit_post_path(post)%>]
                        </p>

                        <h4><p><%= post.title %></p> </h4>
                        <h5><a href= "http://<%="#{post.url}"%>"> <%="#{post.url}"%> </a></h5>


                        <hr>

                        <p><%= post.description %></p>
                        <hr>

                        <p>
                                <span class='quiet'>posted by Hank </span><% %>
                                <small>at <%= post.created_at.strftime(" %b, %Y %I:%M %p") %></small>
                        </p>
                                <small>
                                    <span>
                                    <%= link_to "#{post.comments.size} comments", post_path(post) %>
                                    </span>
                                </small>
                </div>
        </div>
<% end %>








