
<h4>Showing all Posts</h4>

<% @post.each do |post| %>
        <div class='row'>
                <div class='span8 well'>
                        <% post.categories.each do|post| %>
                        <%=  "Category" %>
                        <% end %><br>
                        <h4><a href= "http://<%="#{post.url}"%>"> <%="#{post.url}"%> </a></h4>
                        
                        <p><%= post.title %></p>

                        <p><%= post.description %></p>
                        <p>
                                <span class='quiet'>posted by </span><% %>
                                <small>at <%= post.created_at %></small>
                        </p>
                                <small>
                                    <span>
                                    <%= link_to "#{post.comments.size} comments", post_path(post) %>
                                    </span>
                                </small>
                </div>
        </div>
<% end %>









