 <h4>Show Oracle Retail Posts</h4>

    <%= @post.id %><hr>

<p>
    <%= @post.title %><hr>
    <%= @post.description %><br>
</p>

<%= form_for [@post, @comment] do |f| %>
    <%= render 'shared/errors', obj: @comment %>

<div class= ‘control-group'>
    <%= f.label :body, 'Leave a comment' %>
    <%= f.text_area :body, rows: 8, class: 'span4'%>
</div>
    <%= f.submit "Create comment", class: "btn btn-primary" %>
<% end %><br><br>


<% @post.comments.each do |comment| %>

<div class = 'well span8' >
    <em>"<%= comment.body %>"<em>
</div>

<% end %>
